{% extends 'goldmine/base.html' %}

{% block header %}

	<h1 class='header-title'>The Gold Mine</h1>
	<h4 class="header-text">a collection of resources to keep Django Girls going</h4>

{% endblock header %}

{% block text %}

	<div class="welcome">
	Hi there! You're looking at a site inspired by the material of <a href="http://djangogirls.org">Django Girls</a> workshops. This is a collection of websites, books, videos, etc. we find useful on our journey learning programming. You can contribute as well, resources of any level are very welcome! <br><br>
	With any questions or ideas please email me at dori.czapari@gmail.com :) 
	</div>

{% endblock text %}